@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@include meyer-reset;

@mixin form-reset {
  input,
  label,
  select,
  button,
  textarea {
  	display:inline-block;
  	margin:0;
  	padding:0;
  	border:0;
  	background:none;
  	font-family:inherit;
  	font-size:inherit;
  	line-height:inherit;
  	white-space:normal;
  	vertical-align:middle;
  }

  select, input {
    -webkit-appearance: none;
  }

  input:focus,
  button:focus,
  select:focus {
    outline: 0;
  }

  input:focus,
  select:focus {
  	outline:0;
  }

  input,
  textarea {
  	-webkit-box-sizing:content-box;
  	-moz-box-sizing:content-box;
  	box-sizing:content-box;
  }

  button,
  input[type=reset],
  input[type=button],
  input[type=submit],
  input[type=checkbox],
  input[type=radio],
  select {
  	-webkit-box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	box-sizing:border-box;
  }

  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week]{
  }

  input[type=checkbox],
  input[type=radio] {
  	width:13px;
  	height:13px;
  }

  input[type=file] {

  }

  input[type=search] {
  	-webkit-appearance:textfield;
  	-webkit-box-sizing:content-box;
  }

  ::-webkit-search-decoration {
  	display:none;
  }

  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"] {
  	width:auto;
  	overflow:visible;
  }

  ::-webkit-file-upload-button {
  	padding:0;
  	border:0;
  	background:none;
  }

  textarea  {
  	overflow:auto;
  	vertical-align:top;
  }

  select {

  }

  select[multiple] {
  	vertical-align:top;
  }
}
@include form-reset;

@mixin button-reset {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    text-align: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

$white: #fcfaf7;
$black: #222222;
$blue: #5000ff;
$pink: #d50058;
$grey: rgb(244,243,242);
$font-regular: 'Sailec', Sans-Serif;
$font-secondary: 'Space Mono', monospace;
$unit-1: calc(6px + .4vw);
$unit-2: calc(12px + .8vw);
$unit-3: calc(18px + 1.2vw);
$unit-4: calc(24px + 1.6vw);

* {
	// font-smoothing: antialiased;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	text-rendering: optimizeLegibility;

	&:after, &:before {
		// font-smoothing: antialiased;
    // -webkit-font-smoothing: antialiased;
  	// -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
	}
}

body {
  backface-visibility: hidden;
  background: white;
  color: $black;
	font-family: $font-regular;
	font-size: 18px;
  font-size: calc(12px + .2vw + .2vh);
  font-weight: 300;
  line-height: 1.4;
  opacity: 0;
  transition: background 660ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);
  will-change: opacity, background;

  &.show {
    opacity: 1;
  }
}

img {
	display: block;
	width: 100%;
}

p, ul, ol, h1, h2, h3, h4 {
	margin: $unit-2;
}

h1, h2, h3, h4 {
	font-weight: 600;
}

a {
  color: $black;
	text-decoration: none;

	&:focus {
		outline: 0;
	}

	&:hover {

	}
}

input {

	&:focus {
		border: 1px solid #04A4CC;
		outline: 0;
	}
}

button {
  @include button-reset;
}

small {
  display: inline-block;
  font-family: $font-secondary;
  font-size: .7em;
  letter-spacing: .08em;
}

strong {
  font-weight: 600;
}

.st0 {
  fill: $black;
  stroke: none;
}

.st2{
  fill: none;
  stroke: $pink;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st3{
  fill: none;
  stroke: $white;
  stroke-width: 1;
  stroke-miterlimit: 10;
}

.spin {
  display: block;

  svg {
    transform: rotate(0deg);
    backface-visibility: hidden;
    transition: 220ms transform cubic-bezier(.165, .84, .44, 1);
    will-change: transform;
  }

  &:hover svg {
    transform: rotate(90deg);
  }
}

.header {
  display: none;

  .name {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(0, -100%, 0);
    backface-visibility: hidden;
    opacity: 0;
    transition: transform 880ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);
    will-change: opacity, transform;
    z-index: 110;

    &.show {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .menu-toggle {
    position: fixed;
    top: 4vh;
    right: 4vw;
    transform: translate3d(0, -100%, 0);
    backface-visibility: hidden;
    text-align: right;
    opacity: 0;
    transition: transform 880ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);
    will-change: opacity, transform;
    z-index: 110;

    &.show {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    button {
      // border: 1px solid $black;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 162px;
      height: 48px;
      overflow: hidden;
      border-radius: 8px;
      background: $black;
      color: $grey;
      line-height: 0;
      text-align: center;
      z-index: 1;

      img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
      }
    }
  }
}

.title-fade {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  backface-visibility: hidden;
  background: $white;
  font-size: 4em;
  font-weight: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 660ms cubic-bezier(.165, .84, .44, 1);
  will-change: opacity;
  z-index: 100;

  &.show {
    opacity: 1;
  }
}

.projects {

  opacity: 0;

  &.show {
    opacity: 1;
  }

  .left-icon {
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translate3d(-100%, -50%, 0);
    pointer-events: none;
    transition: transform 660ms cubic-bezier(.165, .84, .44, 1);
    will-change: transform;
    z-index: 100;

    &.show {
      transform: translate3d(0%, -50%, 0);
    }
  }

  .right-icon {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translate3d(100%, -50%, 0);
    pointer-events: none;
    transition: transform 660ms cubic-bezier(.165, .84, .44, 1);
    will-change: transform;
    z-index: 100;

    &.show {
      transform: translate3d(0%, -50%, 0);
    }
  }

  .filter {
    display: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
    text-align: right;
    z-index: 100;

    &.toggle {

      .modal-filter {
        pointer-events: all;

        ul {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }
    }

    .modal-filter {
      position: absolute;
      right: 0px;
      bottom: 100%;
      pointer-events: none;

      ul {
        transform: translate3d(0, 10%, 0);
        backface-visibility: hidden;
        white-space: nowrap;
        opacity: 0;
        transition: transform 660ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);
        will-change: transform, opacity;

        button {
          margin: calc(2px + .2vw) 0;

          &:hover {

            .count {
              margin-left: calc(20px + .4vw);
            }
          }

          .count {
            display: inline-block;
            margin-left: calc(10px + .4vw);
            backface-visibility: hidden;
            transition: margin 660ms cubic-bezier(.165, .84, .44, 1);
            will-change: margin;
          }
        }
      }
    }
  }

  .current-slide {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    letter-spacing: .06em;
    z-index: 100;
  }

  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    outline: none;

    .flickity-page-dots {
      display: none;
      position: fixed;
      bottom: 0px;
      left: 50%;
      transform: translate3d(-50%, 0%, 0);
      opacity: 1;
      transition: transform 660ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);
      will-change: transform, opacity;

      &.hide {
        transform: translate3d(-50%, 100%, 0);
        opacity: 0;
      }

      li {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0px 6px;
        border-radius: 50%;
        background: rgba(255,255,255,.2);
        cursor: pointer;

        &.is-selected {
          background: rgba(255,255,255,1);
        }
      }
    }

    .flickity-viewport {
      width: 100%;
      height: 100%;

      .flickity-slider {
        width: 100%;
        height: 100%;

        .project {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 $unit-4;
          transform-origin: center;
          perspective: 100px;
          will-change: transform;

          a {
            position: relative;
            transition: transform 660ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);
            will-change: transform, opacity;

            canvas {
              position: absolute;
              top: 0px;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 10;
            }
          }

          &.left {
            a:hover {
              transform: translate3d(2%, 0, 0);
            }
          }

          &.right {
            a:hover {
              transform: translate3d(-2%, 0, 0);
            }
          }

          figure {
            box-sizing: content-box;
            transform: scale(.75);
            backface-visibility: hidden;
            opacity: .4;
            transition: transform 660ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);
            will-change: transform, opacity;

            img {
              width: 36vw;
              backface-visibility: hidden;
              opacity: 1;
              transition: 660ms opacity cubic-bezier(.165, .84, .44, 1), 660ms transform cubic-bezier(.165, .84, .44, 1);
              will-change: transform, opacity;
            }

            &:hover {
              opacity: .4;
            }

            a {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          &.is-selected {

            figure {
              transform: scale(1);
              backface-visibility: hidden;
              opacity: 1;
              transition: transform 660ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);
              will-change: transform, opacity;
            }
          }

          &.is-ready {

            figure {

              &.set-back {

                a {
                  pointer-events: all;

                  &:hover {
                    transform: scale(1.02);
                    opacity: .4;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.frames {

  .frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backface-visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 660ms opacity cubic-bezier(.165, .84, .44, 1), 660ms transform cubic-bezier(.165, .84, .44, 1);
    will-change: transform, opacity;
    z-index: 10;

    &.show {
      opacity: 1;

      .title {
        transform: translate3d(-50%, 0%, 0);
      }

      .click-bait {
        transform: translate3d(-50%, 0%, 0);
      }
    }

    .title {
      position: fixed;
      top: 0%;
      left: 50%;
      transform: translate3d(-50%, -100%, 0);
      font-size: 1.2em;
      font-weight: 600;
      transition: transform 880ms cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 100;
    }
    .description {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate3d(-50%, -50%, 0);
      font-size: 2.6em;
      font-weight: 200;
      text-align: center;
      z-index: 100;
    }
    .click-bait {
      position: fixed;
      bottom: 0%;
      left: 50%;
      transform: translate3d(-50%, 100%, 0);
      transition: transform 880ms cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 100;
    }
  }
}

.three {
  width: 100vw;
  height: 100vh;
}

.menu-modal {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  backface-visibility: hidden;
  background: $white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 440ms cubic-bezier(.165, .84, .44, 1);
  will-change: opacity;
  z-index: 120;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .toggle {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.single-work {
  position: relative;

  .top-space {
    position: relative;
    height: 100vh;
    z-index: 0;

    .bg {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      will-change: opacity;

      figure {
        position: relative;
        width: 100vw;
        height: 100vh;
        filter: grayscale(1) brightness(.2) contrast(.9);
        opacity: .6;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }

    .description {
      display: flex;
      position: relative;
      top: 0%;
      left: 0%;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      font-size: 2.4em;
      font-weight: 200;
      text-align: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 660ms cubic-bezier(.165, .84, .44, 1);
      will-change: opacity, transform;
      z-index: 100;

      .scroll-fade {
        max-width: 768px;
      }

      &.show {
        opacity: 1;
      }
    }
  }

  .stream {
    position: relative;
    margin: 0 20vw;
    z-index: 10;

    figure {
      width: 100%;
      padding: $unit-4 0;

      img, video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      iframe {
        width: 100%;
      }
    }
  }

  .title {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 4em;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transition: opacity 660ms cubic-bezier(.165, .84, .44, 1), background 660ms cubic-bezier(.165, .84, .44, 1);
    will-change: transform, background;
    z-index: 120;

    &.show {
      opacity: 1;
    }
  }

  .top-title {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, -100%, 0);
    backface-visibility: hidden;
    font-weight: 600;
    transition: transform 660ms cubic-bezier(.165, .84, .44, 1);
    will-change: transform;
    z-index: 110;

    &.show{
      transform: translate3d(-50%, 0, 0);
    }
  }

  .next {
    position: fixed;
    bottom: 0px;
    left: 0px;
    transform: translate3d(-100%, 0, 0);
    backface-visibility: hidden;
    transition: transform 660ms cubic-bezier(.165, .84, .44, 1);
    will-change: transform;
    z-index: 110;

    &.show{
      transform: translate3d(0, 0, 0);
    }
  }

  .previous {
    position: fixed;
    right: 0px;
    bottom: 0px;
    transform: translate3d(100%, 0, 0);
    backface-visibility: hidden;
    transition: transform 660ms cubic-bezier(.165, .84, .44, 1);
    will-change: transform;
    z-index: 110;

    &.show{
      transform: translate3d(0, 0, 0);
    }
  }

  .explore {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    backface-visibility: hidden;
    transition: transform 660ms cubic-bezier(.165, .84, .44, 1);
    will-change: transform;
    z-index: 110;

    button {
      cursor: pointer;
    }

    &.show{
      transform: translate3d(-50%, 0, 0);
    }
  }

  .poster {
    position: relative;
    opacity: 1;
    will-change: opacity;
    z-index: 1;

    figure {
      position: relative;
      width: 100vw;
      height: 100vh;
      padding: $unit-4 20vw;

      picture, img {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 10;
    }
  }
}

.filter {
  position: fixed;
  top: 4vh;
  left: 4vw;
  transform: translate3d(0, -100%, 0);
  backface-visibility: hidden;
  opacity: 0;
  transition: transform 880ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);
  will-change: opacity, transform;
  z-index: 110;

  &.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  button {
    // border: 1px solid $black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 48px;
    overflow: hidden;
    border-radius: 8px;
    background: $black;
    color: $grey;
    line-height: 0;
    text-align: center;
    z-index: 1;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 0;
    }
  }

  ul {
    display: flex;

    li {
      margin-right: $unit-1;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 4vh 4vw;
  padding-right: 4vw;

  .list-item {
    width: 25%;
    margin-bottom: 4vh;
    padding: $unit-2;
    transform: translate3d(0, 10%, 0);
    backface-visibility: hidden;
    opacity: 0;
    transition: transform 1220ms cubic-bezier(.165, .84, .44, 1), opacity 880ms cubic-bezier(.165, .84, .44, 1);
    will-change: transform, opacity;

    &.show {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    &:first-child {
      width: 50%;

    	.acf-map {
    		height: 400px;
    	}

      .title {
        display: none;
        width: 50%;
        float: left;
      }
      .excerpt {
        display: none;
        width: 50%;
        float: left;
      }
      .cat {
        display: none;
        margin-left: 50%;
      }
    }

    .thumbnail {
      transform-origin: center;
      perspective: 100px;
      transition: transform 440ms cubic-bezier(.165, .84, .44, 1);
      will-change: transform;

      &.hover {
        transition: none;
      }
    }

    .title {
      margin-top: $unit-2;
    }

    .excerpt {
      margin-bottom: $unit-2;
    }

    .cat {
      display: flex;
      flex-wrap: wrap;
      margin: 0px;

      li {
        display: block;
        margin-right: .6vw;
        margin-bottom: .6vw
        ;
        button {
          display: block;
          padding: $unit-1;
          border: 1px solid $black;
          border-radius: 20px;
          line-height: 0;

          small {
            font-size: .6em;
          }
        }
      }
    }

    a {
      display: block;
      cursor: pointer;

      &:hover img {
        transform: matrix(1, 0, 0, 1, 0, -15);
        box-shadow: 0 10px 21px 0 rgba(100, 60, 50, 0.10), 0 47px 72px 0 rgba(100, 60, 50, 0.40);
      }
    }

    img {
      overflow: hidden;
      border-radius: 8px;
      backface-visibility: hidden;
      box-shadow: 0 5px 15px 0 rgba(90, 50, 40, 0.15), 0 4px 8px 0 rgba(80, 40, 30, 0.10);
      transition: transform 440ms cubic-bezier(.165, .84, .44, 1), box-shadow 440ms cubic-bezier(.165, .84, .44, 1);
      will-change: transform, box-shadow;
    }
  }
}

@media only screen and (max-width: 1120px) {
  .list {
    .list-item {
      width: 50%;
      &:first-child {
        .title {
          display: block;
          width: 100%;
          float: none;
        }
        .excerpt {
          display: block;
          width: 100%;
          float: none;
        }
        .cat {
          display: block;
          width: 100%;
          margin: 0px;
          float: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .list {
    .list-item {
      width: 100%;
      &:first-child {
        width: 100%;
      }
    }
  }
}

::selection {
	background: #04a4cc;
	color: #ffffff;
	text-shadow: none;
}
